@using SurveyApp.Web.ApiControllers
@{
    var location = this.KnockoutHelperForType<SurveyApp.Model.Models.Location>();
}

<div class="control-group">
    @location.LabelFor(x => x.FormattedLocation).Class("control-label")
    <div @location.DataBind(db => db.Text(x => x.FormattedLocation)).Class("uneditable controls")></div>
</div>
<div class="control-group">
    @location.LabelFor(x => x.Latitude).Class("control-label")
    <div @location.DataBind(db => db.Text(x => x.Latitude)).Class("uneditable controls")></div>
</div>
<div class="control-group">
    @location.LabelFor(x => x.Longitude).Class("control-label")
    <div @location.DataBind(db => db.Text(x => x.Longitude)).Class("uneditable controls")></div>
</div>
 <div data-bind="bingMap: { latitude: Latitude, longitude: Longitude }" style="height: 300px; width: 100%; position: relative;"></div>