@using SurveyApp.Model.Models
@{
    var location = this.KnockoutHelperForType<Location>();
}

<div class="control-group">
    <label class="control-label" for="@location.GetExpressionTextFor(x => x.FormattedLocation)">Home Location</label>
    <div @location.DataBind(db => db.Text(x => x.FormattedLocation)).Class("uneditable controls")></div>
</div>
<div class="control-group">
    @location.LabelFor(x => x.Latitude, false).Class("control-label")
    <div @location.DataBind(db => db.Text(x => x.Latitude)).Class("uneditable controls")></div>
</div>
<div class="control-group">
    @location.LabelFor(x => x.Longitude, false).Class("control-label")
    <div @location.DataBind(db => db.Text(x => x.Longitude)).Class("uneditable controls")></div>
</div>
 <div data-bind="bingMap: { latitude: Latitude, longitude: Longitude }" style="height: 200px; width: 100%; position: relative;"></div>